apiVersion: apps/v1
kind: Deployment
metadata:
  name: celery-worker-protopred
  namespace: toxindex-app
spec:
  replicas: 1  
  selector:
    matchLabels:
      app: celery-worker-protopred
  template:
    metadata:
      labels:
        app: celery-worker-protopred
    spec:
      serviceAccountName: toxindex-app-sa
      containers:
      - name: celery-worker-protopred
        image: us-docker.pkg.dev/toxindex/toxindex-backend/protopred:latest
        command: ["python", "-m", "celery", "-A", "protopred.celery_worker_protopred", "worker", "--loglevel=info", "-Q", "protopred"]
        envFrom:
        - secretRef:
            name: backend-secrets
        env:
        - name: REDIS_HOST
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: REDIS_HOST
        - name: REDIS_PORT
          valueFrom:
            secretKeyRef:
              name: backend-secrets
              key: REDIS_PORT
        resources:
          requests:
            memory: "2Gi"
            cpu: "500m"
          limits:
            memory: "4Gi"
            cpu: "2000m"

